/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET*/


/* GENERALI */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}
h2, h4 {
  color: white;
}
h3 {
  text-transform: uppercase;
  color: white;
}
a:hover {
  color: white;
}
.a-gray {
  cursor: pointer;
  text-decoration: none;
  color: #6a6a6a;
}
.d-flex {
  display: flex;
  align-items: center;
}


/* MAIN */
.ms-wrapper {
  width: 100%;
  height: calc( 100vh - 80px );
}
.ms-wrapper::after {
  content: "";
  display: table;
  clear: both;
}


/* navbar menu */
.ms-nav {
  background-color: black;
  width: 225px;
  height: calc( 100vh - 80px );
  float: left;
  overflow: hidden;
}
.icon-menu {
  padding: 12px;
  height: 160px;
  overflow: hidden;
}
.logo img {
  width: 100px;
  margin-bottom: 20px;
}
.text-icon img {
  width: 20px;
  vertical-align: middle;
  margin-right: 5px;
  color: #6a6a6a;
}
.text-icon {
  padding-bottom: 15px;
}

/* nav sezione playlist */
.playlist-menu {
  height: calc( 100vh - 320px );
  padding: 12px;
  overflow: hidden;
}
.playlist-menu i {
  background-color: #6a6a6a;
  font-size: 15px;
  padding: 10px;
  margin: 10px 0;
  color: black;
}
.playlist-menu p {
  margin-left: 5px;
}
.playlist-menu li {
  padding-top: 10px;
}
.playlist-list {
  overflow-y: auto;
  height: 70%;
}
/* fine nav sezione playlist */


.ms-utente img {
  width: 20px;
  margin-right: 10px;
}
.ms-utente hr {
  margin: 10px 0;
  border-color: #6a6a6a;
}
.ms-utente {
  padding: 12px;
  height: 75px;
  overflow: hidden;
}


/* icone xs menu */
.ms-icon-xs {
  display: none;
}
.ms-icon-xs img {
  width: 40px;
  padding: 10px 5px;
}
/* fine icone xs menu */
/* fine navbar menu */



/*************sezione main play**********/
.ms-main {
  background-color: #141922;
  width: calc( 100% - 225px );
  height: calc( 100vh - 80px );
  float: left;
  overflow-y: auto;
}


/* sezione effettua upgrade main*/
.ms-main-top {
  background-color: rgba(0, 0, 0, 0.4);
  width: calc( 100% - 225px );
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
}
.upgrade {
  border-radius: 20px;
  text-align: center;
  padding: 10px 20px;
  max-width: 210px;
  border: 1px solid white;
  float: right;
  margin: 12px;
  font-size: 0.8em;
  transition: all .2s ease-in-out;
  cursor: pointer;
}
.upgrade:hover {
  transform: scale(1.1);
}
/* fine sezione effettua upgrade */




/* sezione play */
.ms-play {
  padding-top: 80px;
}


/* FINE MAIN */

/* FOOTER */
.ms-footer {
  background-color: #282828;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  overflow-x: hidden;
}
.ms-footer img {
  width: 45px;
}
.ms-footer p {
  color: #6a6a6a;
  font-weight: bold;
}
.icon-footer {
  padding: 0 7px;
  font-size: 15px;
}

.brano-nome {
  margin-left: 10px;
  margin-right: 35px;
}

.player-button {
  justify-content: center;
}
.player-button i {
  color: white;
  font-size: 20px;
  padding: 0 13px;
}
.player-button i.far.fa-play-circle {
  font-size: 30px;
}
.player-button i.far.fa-play-circle:hover{
  transform: scale(1.1);
}

.player-bar {
  margin-top: 13px;
}
.player-bar p {
  margin: 0 10px;
  color: white;
}
.player-line {
  border: 2px solid #6a6a6a;
  width: 255px;
  height: 0px;
  cursor: pointer;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}
.player-change {
  border: 2px solid lightgray;
  width: 75px;
  height: 0px;
  cursor: pointer;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}
.player-bar:hover .player-change {
  border-color: #48fb47;
  width: 62px;
}
.player-bar:hover .circle-volume {
 display: inline-block;
}





.volume-line {
  border: 2px solid #6a6a6a;
  width: 75px;
  height: 0px;
  cursor: pointer;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}
.volume-change {
  border: 2px solid lightgray;
  width: 45px;
  height: 0px;
  cursor: pointer;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}
.volume-bar {
  display: flex;
  align-items: center;
}
.volume-bar:hover .volume-change{
  border-color: #48fb47;
  width: 32px;
}
.circle-volume {
  color: lightgray;
  display: none;
  cursor: pointer;
}
.volume-bar:hover .circle-volume {
 display: inline-block;
}
/* FINE FOOTER */



@media all and (max-width: 575px) {
  .ms-nav {
    width: 60px;
  }
  .ms-main {
    width: calc( 100% - 60px );
  }
  .ms-main-top {
    width: calc( 100% - 60px );
  }
  .icon-menu,
  .playlist-menu,
  .ms-utente {
    display: none
  }
  .ms-icon-xs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: center;
    cursor: pointer;
  }
}
